<%
location = Current.location
%>
<h2>Weekly Nerd Party!</h2>

<p>Come hack with us! We meet every Tuesday from 7-9 p.m. Bring whatever you’re working on, grab a beer, and meet other Rubyists. Everyone (of age) is welcome.</p>


<section id="map">

  <aside>
    <h3>⏰ When?</h3>
    <time>7:00p</time> to <time>9:00p</time><br />
    Every Tuesday
  </aside>

  <aside>
    <h3>📍 Where?</h3>
    <address>
      <%= location.name %><br />
      <%= sanitize location.address.gsub(/\n/, "<br />"), tags: %w[br] %>
    </address>
  </aside>

  <aside>
  <iframe src="<%= sanitize location.map %>" width="600" height="450" style="border:0;" title="map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </aside>
</section>
