<div class="proposed_talk span4">
  <h4><%= link_to talk.title, talk %></h4>
  <div><%= indefinite_Articlerize talk.kind %> talk proposed by <%= talk.presenter %></div>
  <p class="description"><%= talk.description %></p>
</div>
