<ol>
  <li>
    Communicate with Ryan about speakers. Get names, photos, talk
    titles, and talk descriptions. Ryan updates seattlerb.org, so one
    less thing for you to worry about!
  </li>

  <li>
    Set up an Eventbrite page. Eventbrite is free for free events. Cap
    it at 45, unless Ryan says otherwise.
  </li>

  <li>
    Promote the event!

    <ul>
      <li><%= link_to "seattle.rb list", "mailto:ruby@zenspider.com" %></li>
      <li><%= link_to "meetup", "http://www.meetup.com/The-Seattle-Ruby-on-Rails-Developers-Meetup-Group/" %></li>
      <li><%= link_to "seattle tech startups", "http://www.seattletechstartups.com/" %></li>
      <li> etc...</li>
    </ul>
  </li>

  <li>
    Get food and eating implements. I ordered pick up
    from <a href="http://www.bigmariosnewyorkpizza.com/">Mario's
    Pizza</a>, a block away, and that was easy. Probably 10-12 8-slice
    pizzas. If there's a higher turnout, adjust accordingly.

    <p class="text-info">TODO: what is "higher turnout" ?</p>

    <p class="text-error">TODO: bluebox is in for $200. 10 pizzas are at least 170. Beer is 90... this math doesn't work.</p>
  </li>

  <li>
    Get beer and cups. I got a pony keg
    from <a href="http://www.elysianbrewing.com/">Elysian</a> (also
    within walking distance, but a pain to carry a keg from if
    walking). It runs about $90, plus a $150 refundable deposit when
    you bring the keg back. I think either that or canned/bottled beer
    would be fine - we didn't finish it.
  </li>

  <li>
    Ping <a href="pete@peterhiggins.org">Pete Higgins</a>, who is the
    contact at Substantial, about setup and/or anything else related
    to the venue.

    <p>Backup: <a href="mailto:aja@substantial.com">Aja Hammerly</a>.</p>
  </li>

  <li>
    Get there a little early to set up chairs, food/bev, and get a
    sign on the door.
  </li>

  <li>
    You got yourself a party!
  </li>

  <li>
    Let the sponsor know of your expenses for reimbursement.
  </li>
</ol>
