<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Awesome Seattle.rb Admin, <%= @talk.presenter %> has submitted a talk!</h1>
    <p>The title is: <%= @talk.title%></p>
    <p>The description is: <%= @talk.description %></p>
    <p>The email is: <%= @talk.email %></p>
  </body>
</html>