<h1>Admin :: People</h1>
<table class='table table-striped'>
  <% @dudes.each do |dude| %>
    <tr>
      <td><h3><%= dude.name %></h3></td>
      <td class='span1'><%= link_to "Edit", edit_dude_path(dude.id), class: 'btn' %></td>
      <td class='span1'><%= button_to "Delete", dude, method: :delete, confirm: "Are you sure?", class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
</table>

