<div class='row'>
  <div id="map" class='span12'>
    <div id="feedback-desc" class='span4'>
      <h1>Give us feedback!</h1>
      This is totally anonymous.
    </div>

    <div id="newsletter" class='span6'>
      <%= render "feedback_iframe" %>
    </div>
  </div>
</div>
