<div class='row'>
  <div id="map" class='span12'>
    <div id="address" class='span4'>
      <h1>Weekly Nerd Party!</h1>
      Come hack with us! We’re at Optimism every Tuesday from 7-9 p.m. Bring whatever you’re working on, grab a beer, and meet other Rubyists. Everyone (of age) is welcome.
      <table>
        <tr>
          <td><i class='icon-time'></i></td>
          <td><h3><time>7:00p</time> to <time>9:00p</time> Every Tuesday</h3></td>
        </tr>
        <tr>
          <td><i class='icon-map-marker'></i></td>
          <td>
            <address>
              <h3>Optimism Brewing Company</h3>
              1158 Broadway<br />
              Seattle, WA  98122
            </address>
          </td>
        </tr>
      </table>
    </div>
    <div class='span8'>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.6855570435005!2d-122.3227213847166!3d47.61280359554314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906acc07f09b89%3A0xaec46580d07fc936!2sOptimism%20Brewing%20Company!5e0!3m2!1sen!2sus!4v1649785847931!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
