<div class='row'>
  <div id="map" class='span12'>
    <div id="address" class='span4'>
      <h1>Weekly Nerd Party!</h1>
      Come hack with us! We’re at Vivace Café every Tuesday from 7-9 p.m. Bring whatever you’re working on, grab a cup of coffee, and meet other Rubyists. Everyone is welcome.
      <table>
        <tr>
          <td><i class='icon-time'></i></td>
          <td><h3><time>7:00p</time> to <time>9:00p</time> Every Tuesday</h3></td>
        </tr>
        <tr>
          <td><i class='icon-map-marker'></i></td>
          <td>
            <address>
              <h3>Vivace Cafe</h3>
              532 Broadway Ave E<br />
              Seattle, WA 98102
            </address>
          </td>
        </tr>
      </table>
    </div>
    <div class='span8'>
      <iframe height="200" frameborder="" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;aq=&amp;sll=37.0635,-95.677068&amp;sspn=37.683309,86.220703&amp;ie=UTF8&amp;&amp;t=m&amp;cid=2732031702180546416&amp;ll=47.62381,-122.320662&amp;spn=0.012727,0.080509&amp;z=16&amp;iwloc=near&addr&amp;output=embed"></iframe>
    </div>
  </div>
</div>
