<div class='row'>
  <div id="map" class='span12'>
    <div id="address" class='span4'>
      <h1>Weekly Nerd Party!</h1>
      Come hack with us! We’re at Vivace Café every Tuesday from 7-9 p.m. Bring whatever you’re working on, grab a cup of coffee, and meet other Rubyists. Everyone is welcome.
      <table>
        <tr>
          <td><i class='icon-time'></i></td>
          <td><h3><time>7:00p</time> to <time>9:00p</time> Every Tuesday</h3></td>
        </tr>
        <tr>
          <td><i class='icon-map-marker'></i></td>
          <td>
            <address>
              <h3>Vivace Cafe</h3>
              532 Broadway Ave E<br />
              Seattle, WA 98102
            </address>
          </td>
        </tr>
      </table>
    </div>
    <div class='span8'>
      <iframe height="200" frameborder="" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;aq=&amp;sll=37.0635,-95.677068&amp;sspn=37.683309,86.220703&amp;ie=UTF8&amp;&amp;t=m&amp;cid=2732031702180546416&amp;ll=47.62381,-122.320662&amp;spn=0.012727,0.080509&amp;z=16&amp;iwloc=near&addr&amp;output=embed"></iframe>
    </div>
  </div>
</div>

<div class='row'>
  <div id="map" class='span12'>
    <div id="address" class='span4'>
      <h1>Monthly Social</h1>
      <table>
        <tr>
          <td><i class='icon-time'></i></td>
          <td><h3><time>7:00p</time> to <time>9:00p</time> First Tuesday of the Month</h3></td>
        </tr>
        <tr>
          <td><i class='icon-map-marker'></i></td>
          <td>
            <address>
              <h3>Substantial Offices</h3>
              900 E Pine St<br />
              Seattle, WA 98102
            </address>
          </td>
        </tr>
      </table>

      <h2> Scheduled Speakers </h2>

      <p><%= link_to "Please sign up to give a talk", talks_path %>.

      <p> TBA </p>

      <!--
      <div id="first" class="span4">
        <h3>Micheal Tierney</h3>
        
        <p>Beginner: Web App Prototyping -- Using Serve and Sinatra to prototype web applications, with a primary focus on building user interfaces. I'll also briefly touch on some front-end libraries to help provide quick-and-easy layouts.</p>
      </div>

      <div id="second" class="span4">
        <h3>Sam Cooper</h3>

        <p> Intermediate: Chef and Knife plugins - An overview of Chef, and writing your own plugins to take ownership of your infrastructure. </p>
      </div>

      <div id="third" class="span3">
        <h3>Aaron Patterson</h3>

        <p>Advanced: WTF is ActiveSupport::Concern? </p>
      </div>
      -->
    </div>

    <div class='span8'>
      <iframe height="200" frameborder="" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=900+East+Pine+Street,+Seattle,+WA&f=q&source=s_q&hl=en&t=m&z=16&ll=47.615505,-122.320383&iwloc=near&output=embed"></iframe>
    </div>
  </div>
</div>
