<div class="alert alert-success">
  This is an <strong>open group</strong>, meaning that no matter your level of experience, where you studied, or what you do—as long as you respect and uphold <%= link_to_unless_current "our values", values_path %>—you're welcome to <%= link_to_unless_current "join us", join_us_path %>.
</div>
