<div class='row'>
  <div id="map" class='span12'>
    <div id="info" class='span4'>
      <h1>Slack</h1>
      <%= link_to "Join Our Slack!", "https://join.slack.com/t/seattlerb/shared_invite/zt-n9ut2ybq-uTabTrrGbYbzIcbXvIxH0g" %>
    </div>
  </div>
</div>
