<div class='row'>
  <div id="map" class='span12'>
    <div id="info" class='span4'>
      <h1>Slack</h1>
      We have a Slack organization where you can ask questions and discuss programming topics. <%= link_to "Click here to join", "https://seattlerbslack.herokuapp.com" %>.
    </div>
    <div class='span4'>
      &nbsp;
    </div>
    <div class='span4'>
      <%= link_to(image_tag("/assets/slack.png",  height:"200"), "https://seattlerbslack.herokuapp.com") %>     
    </div>
  </div>
</div>
