<div class='row'>
  <div id="map" class='span12'>
    <div id="info" class='span4'>
      <h1>Slack</h1>
      We have a Slack organization where you can ask questions and discuss programming topics. <%= link_to "Click here to join", "https://slack.seattlerb.org" %>.
    </div>
    <div class='span8'>
      <iframe height="200" frameborder="" scrolling="no" marginheight="0" marginwidth="0" src="https://slack.seattlerb.org"></iframe>
    </div>
  </div>
</div>
