<div class="hero-unit">
  <h1>Seattle.rb!</h1>
  <p>
    We are a bunch of awesome rubyists. Our community is amazing, our members contribute to many of the tools and gems that you use everyday. We do other cool stuff we should talk about here. Check it out.
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2><a href='http://github.com'>MiniTest</a></h2>
     <p>Donec id elit non mi porta gravida <a href='people.html#ryan'>Ryan Davis</a> eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>
  <div class="span4">
    <h2><a href='http://github.com'>Nokogiri</a></h2>
     <p>Donec id elit non <a href='people.html#aaron'>Aaron Patterson</a> mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
 </div>
  <div class="span4">
    <h2><a href='http://github.com'>RDoc</a></h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. <a href='people.html#eric'>Eric Hodel</a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  </div>
</div>

<div class='row view-all'>
  <a href='projects.html' class='span12'>See All Projects</a>
</div>

<div class='row'>
  <div id="map" class='span12'>
    <div id="address" class='span4'>
      <h1>Join Seattle.rb</h1>
      Seattle.rb has an open hack night, come grab a cup-a-joe, open your favorite text editor and go at it. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      <table>
        <tr>
          <td><i class='icon-time'></i></td>
          <td><h3><time>7:00p</time> to <time>9:00p</time> Every Tuesday</h3></td>
        </tr>
        <tr>
          <td><i class='icon-map-marker'></i></td>
          <td>
            <address>
              <h3>Vivace Cafe</h3>
              550 E Broadway<br />
              Seattle, WA 98102
            </address>
          </td>
        </tr>
      </table>
    </div>
    <iframe class="span8" width="100%" height="200" frameborder="" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=37.683309,86.220703&amp;ie=UTF8&amp;&amp;t=m&amp;cid=2732031702180546416&amp;ll=47.62381,-122.320662&amp;spn=0.012727,0.080509&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
  </div>
</div>
  
<div class='row'>
  <div class='span12'>
    <h1>Header <abbr class="amp">&amp;</abbr> Something</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
