<div class='row'>
  <div class='span8'>
    <div id='map'>
      <h2>When & Where?</h2>
      Come hack with us! We’re at Vivace Café every Tuesday from 7-9 p.m. Bring whatever you’re working on, grab a cup of coffee, and meet other Rubyists. Everyone is welcome!
      <table>
        <tr>
          <td><i class='icon-time'></i></td>
          <td><h3><time>7:00p</time> to <time>9:00p</time> Every Tuesday</h3></td>
        </tr>
        <tr>
          <td><i class='icon-map-marker'></i></td>
          <td>
            <address>
              <h3>Vivace Cafe</h3>
              532 Broadway Ave E<br />
              Seattle, WA 98102
            </address>
          </td>
        </tr>
      </table>
      <iframe width="100%" height="420" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;cid=1796984254826196308&amp;q=Vivace+Espresso+Bar+at+Brix&amp;gl=US&amp;hl=en&amp;ll=47.625952,-122.320737&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?ie=UTF8&amp;cid=1796984254826196308&amp;q=Vivace+Espresso+Bar+at+Brix&amp;gl=US&amp;hl=en&amp;ll=47.623752,-122.320737&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;source=embed"></iframe>
    </div>
  </div>
  <div class='span4'>
    <h2>Join the Mailing Lists</h2>
    <%= form_tag "http://lists.zenspider.com/mailman/listinfo/ruby" do %>
      
    <% end %>
    <h4>Ruby Discussion</h3>
      <ul>
        <li><a HREF="mailto:ruby-subscribe@zenspider.com">Subscribe</a></li>
        <li><a HREF="mailto:ruby-subscribe-user=domain.com@zenspider.com">Subscribe other address (eg user@domain.com)</a></li>
        <li><a HREF="mailto:ruby-unsubscribe@zenspider.com">Un-Subscribe</a></li>
        <li><a HREF="mailto:ruby-unsubscribe-user=domain.com@zenspider.com">Un-Subscribe other address (eg user@domain.com)</a></li>
        <li><a HREF="http://zenspider.com/pipermail/ruby/">View the Archives</a></li>
        <li><a HREF="http://zenspider.com/mailman/listinfo/ruby">List Info</a></li>
        <li><a HREF="http://zenspider.com/mailman/admin/ruby">List Admin Page</a></li>
      </ul>
      <h4>Jobs (Seattle Only)</h3>
        <ul>
          <li><a HREF="mailto:rubyjobs-subscribe@zenspider.com">Subscribe</a></li>
          <li><a HREF="mailto:rubyjobs-subscribe-user=domain.com@zenspider.com">Subscribe other address (eg user@domain.com)</a></li>
          <li><a HREF="mailto:rubyjobs-unsubscribe@zenspider.com">Un-Subscribe</a></li>
          <li><a HREF="mailto:rubyjobs-unsubscribe-user=domain.com@zenspider.com">Un-Subscribe other address (eg user@domain.com)</a></li>
          <li><a HREF="http://zenspider.com/pipermail/rubyjobs/">View the Archives</a></li>
          <li><a HREF="http://zenspider.com/mailman/listinfo/rubyjobs">List Info</a></li>
          <li><a HREF="http://zenspider.com/mailman/admin/rubyjobs">List Admin Page</a></li>
        </ul>
        <a href="https://twitter.com/seattlerb" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @seattlerb</a>
      </div>

    </div>
