<div class='profile row'>
  <img class='span2' src='img/ryan.jpg'>
  <div class="span10 description">
    <h1>Ryan Davis</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul class='links'>
      <li><i class='icon-envelope '></i><a href="#">Email</a></li>
      <li><i class='icon-user '></i><a href="#">Github</a></li>
    </ul>
  </div>
</div>

<div class='profile row'>
  <img class='span2' src='img/eric.jpg'>
  <div class="span10 description">
    <h1>Eric Hodel</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
    <ul class='links'>
      <li><i class='icon-envelope '></i><a href="#">Email</a></li>
      <li><i class='icon-user '></i><a href="#">Github</a></li>
      <li><i class='icon-leaf '></i><a href="#">@drbrain</a></li>
    </ul>
  </div>
</div>

<div class='profile row'>
    <img class='span2' src='img/aaron.png'>
  <div class="span10 description">
    <h1>Aaron Patterson</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul class='links'>
      <li><i class='icon-envelope '></i><a href="#">Email</a></li>
      <li><i class='icon-user '></i><a href="#">Github</a></li>
      <li><i class='icon-leaf '></i><a href="#">@tenderlove</a></li>
    </ul>
  </div>
</div>

<div class='profile row'>
  <img class='span2' src='img/geoff.png'>
  <div class="span10 description">
    <h1>Geoffrey Grossenbach</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul class='links'>
      <li><i class='icon-envelope '></i><a href="#">Email</a></li>
      <li><i class='icon-user '></i><a href="#">Github</a></li>
      <li><i class='icon-leaf '></i><a href="#">@topfunky</a></li>
    </ul>
  </div>
</div>

<div class='row'>
  <div class='span6 mini-profile'>
    <img src='img/ruby.png'>
    <h2>Alex Vollmer</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    <ul class='links'>
      <li><i class='icon-envelope '></i><a href="#">Email</a></li>
      <li><i class='icon-user '></i><a href="#">Github</a></li>
      <li><i class='icon-leaf '></i><a href="#">@tenderlove</a></li>
    </ul>
    
  </div>
  <div class='span6 mini-profile'>
    <img src='img/ruby.png'>
    <h2>Alex Vollmer</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    <ul class='links'>
      <li><i class='icon-envelope '></i><a href="#">Email</a></li>
      <li><i class='icon-user '></i><a href="#">Github</a></li>
      <li><i class='icon-leaf '></i><a href="#">@tenderlove</a></li>
    </ul>
    
  </div>
</div>

<div class='row'>
  <div class='span6 mini-profile'>
    <img src='img/ruby.png'>
    <h2>Alex Vollmer</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    <ul class='links'>
      <li><i class='icon-envelope '></i><a href="#">Email</a></li>
      <li><i class='icon-user '></i><a href="#">Github</a></li>
      <li><i class='icon-leaf '></i><a href="#">@tenderlove</a></li>
    </ul>
  </div>
  <div class='span6 mini-profile'>
    <img src='img/ruby.png'>
    <h2>Alex Vollmer</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    <ul class='links'>
      <li><i class='icon-envelope '></i><a href="#">Email</a></li>
      <li><i class='icon-user '></i><a href="#">Github</a></li>
      <li><i class='icon-leaf '></i><a href="#">@tenderlove</a></li>
    </ul>
    
  </div>
</div>
