
/* LAYOUT... */

div[role=main] {
  margin-top: 60px;
}

input[type=submit] {display: block}

.inline {display: inline-block;}
.brand {
  background: url(seattle.rb-logo.png) no-repeat left top !important;
  color: #c70000 !important;
  font-size: 275% !important;
  font-weight: bold !important;
  letter-spacing: -.04em;
  padding-left: 50px !important;
  margin: 5px 0 0 10px !important;
  line-height: 0.8 !important;
}

.navbar .nav {
  margin-top: 8px;
}

.navbar .nav li {
  margin: 0 3px !important;
  font-size: 120%;
}

.navbar .nav li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.navbar .nav li a:hover {
  background-color: #c70000;
}

footer {
  background-color: #C3D9FF;
  padding: 5px;
  margin-top: 10px;
}

table tr td {
  vertical-align: top;
}

address {margin: 0}

.view-all {
  text-align: right;
}
/*...LAYOUT*/

/* HOME...*/

.hero-unit {
  background: #fff url(seattle_rb_logo_big.png) no-repeat left center;
  padding-left: 200px;
}

#map {
  color: #333;
  border: 1px solid #A9BBDD;
  padding: 5px 10px 0 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 6px;
  moz-border-radius: 6px;
  webkit-border-radius: 6px;
  background-color: #C3D9FF;
  background-image: -ms-linear-gradient(top, #C3D9FF 0%, #A9BBDD 100%);
  background-image: -moz-linear-gradient(top, #C3D9FF 0%, #A9BBDD 100%);
  background-image: -o-linear-gradient(top, #C3D9FF 0%, #A9BBDD 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C3D9FF), color-stop(1, #A9BBDD));
  background-image: -webkit-linear-gradient(top, #C3D9FF 0%, #A9BBDD 100%);
  background-image: linear-gradient(to bottom, #C3D9FF 0%, #A9BBDD 100%);
}

#join-us #map {
  background: white;
  border: none;
  margin-top: 0;
}

#join-us #map iframe {
  margin-top: 10px;
}

#map iframe {
  border-radius: 6px;
  moz-border-radius: 6px;
  webkit-border-radius: 6px;
  margin-bottom: 10px;
}

#map h3 {
  line-height: 1;
}

#map table {
  margin: 10px 0 0 0px;
}

#map table tr:first-child td {
  padding-bottom: 5px;
}

#map #address {
  margin-left: 0px;
}

abbr.amp {
  font-weight: normal;
  font-style: italic;
  font-size: 120%;
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  border: none;
}
  
/*...HOME*/

/* PEOPLE...*/
.profile {
  padding: 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
}

.profile:nth-child(even) {
  background-color: #E9FBFF;
}

.profile .avatar {
/*  margin: 0 10px 0 0;*/
}

.profile .avatar img {
  border: 2px solid #ccc;
  margin: 0 10px;
}

.profile .description h1 {
  line-height: 0.7;
  margin-bottom: 8px;
  font-size: 300%;
}
.links {
  margin: 2px;
}
.links li {
  display: inline-block;
  margin: 5px;
}
.mini-profile {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  moz-border-radius: 3px;
  webkit-border-radius: 3px;
  height: 130px;
  background-color: #ddd;
}

.mini-profile img {
  float: left;
  margin: 5px 5px 0px 5px;
  height: 50px;
}
/*...PEOPLE*/

/* PROJECTS...*/
.project:first-child {
  border: none;
}
.project {
  border-top: 1px dotted #ddd;
  padding-top: 5px;
}
