body {
  color: #000;
  background: #F1F1F1;
}

.container {
  border: 1px solid #999;
  background-color: #FFF;
}

abbr.amp {
  font-weight: normal;
  font-style: italic;
  font-size: 120%;
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  border: none;
}

h1 {
  background: url(seattle_rb_logo_no_text.png) no-repeat left top;
  color: #c70000;
  font-size: 1225%;
  font-weight: bold;
  height: 180px;
  letter-spacing: -.04em;
  margin: 30px 0 0 30px;
  padding: 30px 0 0 220px;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 300%;
  margin: 0;
  padding: 0;
}

h2 img,
h2 a {
  margin: 0;
  padding: 0 !important;
}

h2 a:hover {
  border: none;
  background: none;
}

h3 {
  text-align: center;
  margin: -40px 0 2em 0;
  padding: 0;
  color: #666;
}

#map {
  text-align: right;
}

#map a {
  background: none;
}

#map img {
  border: 1px solid #999;
}

#meeting .org {
  font-size: 200%;
  font-weight: bold;
}

#meeting .location {
  display: none;
}

#meeting .vevent {
  font-size: 150%;
}

#meeting .dtstart,
#meeting .dtend {
  font-weight: bold;
}

#meeting .standout,
#meeting .street-address {
  font-size: 125%;
  display: block;
}

#projects,
#people {
  margin-top: 3em;
}

table, tr, th, td {
  vertical-align: top;
  background: none;
}

tr.alt {
  background: #f1f5fa;
}

th {
  text-align: right;
  font-size: 200%;
}

caption {
  background: none;
  text-align: center;
  font-weight: bold;
  font-size: 300%;
  letter-spacing: -.04em;
}

.email,
p.bio {
  font-weight: normal;
  font-size: 10px;
  color: #666;
}

.vcard span.fn {
  display: block;
}

.vcard th {
  width: 30%;
}

.project span.url,
.vcard span.url {
  font-size: 50%;
  display: block;
}

.person_projects {
  padding-top: 1.25em;
}

.person_projects li {
  display: inline;
  line-height: 1.75em;
}

#projects .project_people {
  margin: 0;
  padding: 0;
}

#projects .project_people li {
  display: inline;
  font-size: 50%;
  text-align: right;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.project span.name,
.project span.url {
  display: block;
}

.description {
  vertical-align: middle;
}

#footer p {
  background: #b00800;
  text-align: center;
  color: #eee;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

/*links...*/
a:link, a:active, a:visited {
  color: #b00800;
  text-decoration: none;
  padding: .5em .25em .5em .25em;
}

a:hover {
  color: white;
  background: #b00800;
  text-decoration: none;
}
/*...links*/

#heroku_toolbar {
  display: none;
}
