// Place all the styles related to the talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.hidden {
  display: none;
}*/

.talk {
  padding-top: 10px;
}

#tabs div{
  display: inline-block;
  height: 2em;
  background: #C3D9FF;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}

#talkheader {
  font-size: 28px;
}

.active {
  background: red ;
}

.suggestion-link{
  font-size: 16px;
  font-weight: bold;
}
/*#A9D0F5*/
