.talk {
  padding-top: 10px;
}

#tabs div{
  display: inline-block;
  height: 2em;
  background: #C3D9FF;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}

.hidden {
  display: none;
}

.tabs a {
  text-decoration: none;
}

#come-talk h1{
  font-size: 26px;
}