<div id="disqus_thread"></div>
<% content_for :javascript_footer do %>
  <script type="text/javascript">
    disqus_shortname = "seattlerb";
  </script>
  <script type="text/javascript" src="//seattlerb.disqus.com/embed.js" async></script>
<% end %>